<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Indonesian Culture</title>
    <script src="https://kit.fontawesome.com/72cf703d6f.js" crossorigin="anonymous"></script>
</head>

<body>
    <a href="#content" class="skip-link">Menuju ke konten</a>
    <header class="hero">
        <nav>
            <div class="nav-responsive">
                <div>
                    <a href="/" class="logo">
                        INDONESIAN CULTURE
                    </a>
                </div>
                <div class="nav-container">
                    <button aria-label="menu dropdown on mobile" class="menu" type="button">
                        <i class="fa fa-bars"></i>
                    </button>
                </div>
            </div>

            <ul class="nav-list">
                <li class="nav-item"><a href="/">HOME</a></li>
                <li class="nav-item">
                    <a href="#" target="_blank" rel="noopener noreferrer">
                        ABOUT US
                    </a>
                </li>
            </ul>
        </nav>


        <div tabindex="0" class="hero-inner">
            <h1 class="hero-logo">
                Indonesian<span>Culture</span>
            </h1>
            <p class="hero-desc">
                Let's learn about Indonesian Culture !
            </p>
            <a href="#content">
                <button class="btn" type="button">Let's Explore !</button>
            </a> <br>

        </div>
        <div id="search-container" class="search-container">

            <input placeholder="Search our city" id="searchElement" type="search">
            <button id="searchButtonElement" type="submit">Search</button>

        </div>
        </div>

    </header>

    <main>
        <div id="content" class="container">
            <h2 tabindex="0">Explore Indonesian Culture</h2>
            <section id="explore-content"></section>
        </div>
    </main>

    <footer tabindex="0">
        Copyright &copy; 2022 - Indonesian Culture
    </footer>
</body>

</html>